# ignore almost all files
/@
/bin
/boot
/dev
/etc
/events
/home
/initrd.img
/initrd.img.old
/lib
/lib32
/lib64
/libx32
/media
/mnt
/opt
/proc
/root
/run
/sbin
/srv
/sys
/tmp
/usr/bin
/usr/sbin
/usr/lib
/usr/lib32
/usr/lib64
/usr/libx32
/usr/share
/usr/games
/usr/include
/usr/src
/usr/libexec
/usr/local/share
/usr/local/man
/var
/vmlinuz
/vmlinuz.old

